/* src/style.css */

/* CSS RESET June 2024 */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

:root {
    --bg-color: #1e1e1e;
    --text-color: #dcdcdc;
    --input-bg: #2e2e2e;
    --input-color: #dcdcdc;
    --icon-color: #dcdcdc;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #333333;
    --input-bg: #f5f5f5;
    --input-color: #333333;
    --icon-color: #333333;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html {
    font-size: 18px;
}

body {
    text-align: center;
    font-family: 'Montserrat Variable', sans-serif;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s, color 0.3s;
}

.header {
    background-color: var(--input-bg);
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .logo {
            a {
                font-size: 24px;
                color: var(--text-color);
                margin: 0;
                text-decoration: none;
            }
        }

        .nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin-left: 20px;

                a {
                    color: var(--text-color);
                    text-decoration: none;
                    font-size: 18px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.app {
    background-color: var(--input-bg);
    padding: 5rem 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
    font-weight: 100;
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.converter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

input {
    width: 35px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        margin-bottom: .5rem;
    }

    div {
        position: relative;

        input {
            width: 250px;
            font-size: 2rem;
        }

        .unit {
            font-size: 14px;
            color: #888;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(-50%, -50%);
        }
    }
}

.exchange-icon {
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    background: none;
    border: none;
    margin: 0 20px;
    margin-top: 2rem;
    display: flex;
}

.exchange-icon:focus {
    outline: none;
}

.detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    text-align: justify;

    h3{
        margin-top: 1rem;
    }

    p {
        font-size: 0.889rem;
        margin-top: 0.5rem;

        &.title {
            font-size: 1rem;
            font-weight: bold;
            margin-top: 1rem;
            text-align: left;
        }
    }

    ul {
        font-size: 0.889rem;
        padding-left: 2rem;
        text-align: left;

        li {
            margin: 0.5rem 0;
        }
    }
}

footer {
    background-color: var(--input-bg);
    padding: 20px 0;
    box-shadow: var(--box-shadow);
    width: 100%;

    ul {
        li {
            display: inline-block;
        }
    }
}

svg {
    fill: var(--text-color);
}

.toggle {
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    line-height: 1;

    .input {
        display: none;
    }

    .icon {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        transition: transform 500ms;
    }

    .icon--moon {
        transition-delay: 200ms;
    }

    .icon--sun {
        transform: scale(0);
    }

    #theme-toggle:checked+.icon--moon {
        transform: rotate(360deg) scale(0);
    }

    #theme-toggle:checked~.icon--sun {
        transition-delay: 200ms;
        transform: scale(1) rotate(360deg);
    }

    .w-8 {
        width: 2rem
            /* 32px */
        ;
    }
}




/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .app {
        max-width: 700px;
    }

    .input-group {
        div {
            input {
                width: 230px;
            }
        }
    }

    .detalles {
        padding: 0 2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .app {
        max-width: 100dvw;
    }

    .converter {
        flex-direction: column;
    }

    .input-group {
        &div {
            input {
                min-width: 200px;
            }
        }
    }

    .exchange-icon {
        transform: rotate(90deg);
        margin: 1rem 0;
    }

    .detalles {
        padding: 0 2rem;
    }
}